.category-section {
  padding: 0px 20px;
  /* opacity: 1; */
  transition: opacity 0.2s ease;
}
.category-search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
/* Category Create Section */
.category-create-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.category-form {
  padding: 10px;
}
.category-create {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category-create > p {
  margin: 5px;
}

.category-create > select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0.5px 3px 3px -4px #333;
}

.categoryBtn {
  box-shadow: 0.5px 3px 3px -3px #333;
  margin-bottom: 50px;
}
.categories-wrapper {
  padding: 10px;
}
.categories-box {
  display: grid;
  grid-template-columns: 100px auto 50px 50px;
  background-color: #fff;
  box-shadow: 0.5px 3px 3px -3px #333;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 80px;
  border-radius: 10px;
}

.category-img-box > img {
  width: 100px;
}
.showModal,
.showDeleteModal {
  width: 50%;
  height: fit-content;
  z-index: 999999;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -3px rgb(46 46 46);
}
.noShowModal,
.noShowDeleteModal {
  display: none;
}
.noOpacity {
  filter: blur(2px);
}
.opacity {
  filter: blur(0px);
}
.showDeleteModal {
  padding: 0px;
  width: 30%;
}
.delete-header-box {
  width: 100%;
  height: 30px;
  background: var(--pink);
  display: flex;
  align-items: center;
}
.delete-header-box > h4 {
  padding: 2px 10px;
  color: #333;
}
.delete-category-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px;
}
.category-update-form {
  border: 2px dashed #f799a3;
  padding: 5px;
  position: relative;
  border-radius: 5px;
}
.category-update {
  padding: 30px 20px;
  width: 100%;
}
.update-element {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.category-update-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}
.update-select {
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  box-shadow: 4.5px 3px 5px -5px #333;
}
.update-select > option {
  border: none;
}
.closeIcon {
  position: absolute;
  right: -83px;
  top: -65px;
  font-size: 40px;
  color: var(--pink);
  cursor: pointer;
}
.rct-text {
  padding: 10px;
}
