.product-section {
  padding: 10px;
  position: relative;
}
.product-input-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}
.product-header {
  font-size: 28px;
}
.input-header {
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: "Varela Round", sans-serif;
}
.text-area {
  width: 100%;
  height: 160px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0.5px 3px 3px -4px #333;
}
.get-product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-heading {
  display: grid;
  grid-template-columns: 40px 100px auto 100px 100px 100px 80px 80px 80px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.product-heading > h3 {
  font-family: "Varela Round", sans-serif;
}
.addModal {
  position: absolute;
  width: 62%;
  height: 80%;
  background-color: rgb(239, 239, 239);
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.showProductDeleteModal {
  width: 40%;
  height: fit-content;
  z-index: 999999;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -3px rgb(46 46 46);
}
.noProductShowDeleteModal {
  display: none;
}
.delete-product-header-box {
  width: 100%;
  height: 30px;
  background: var(--pink);
  display: flex;
  align-items: center;
}
.delete-product-header-box > h4 {
  padding: 2px 10px;
  color: #333;
}
.delete-product-box {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 5px;
}
.keyFeaturesContainer {
  width: 100%;
  height: 100px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}
.featureItem {
  background-color: var(--pink);
  color: white;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
}
.featureInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}
.featureClose {
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  color: rgb(15, 15, 15);
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
}
